.productContainer {
    padding: 20px;
    display: grid;
    gap: 20px;
    max-width: 1000px;
}

.cardStyles {
    max-width: 500px;
    transition: transform 0.3s ease;
}

.cardStyles:hover {
    transform: scale(1.05);
}

.card-body .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.imageProd {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.micButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}