.cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 600px;
    display: grid;
    gap: 20px;
}

@media only screen and (max-width: 650px) {
    .formContainer{
        width: 100%;
    }
}